- 1.times{ @product.products_rent_types.build} if @product.new_record?
- 1.times{ @product.pictures.build} if @product.pictures.size == 0
= semantic_form_for [:administration, @product], :html => {:multipart => true, :id => "fileupload"} do |f|
  = f.inputs "Product Info" do
    = f.input :name
    = f.input :status, :collection => Product::STATUSES, :include_blank => false
    = f.input :description, :as => :text
  = f.semantic_fields_for :products_rent_types do |r|
    = r.inputs "Rent Types" do
      = r.input :rent_type, :include_blank => false
      = r.input :amount
  / = render :partial => "photo", :locals => {:f => f}
  = render :partial => "photo_old", :locals => { :f => f }