.row
  .span8
    .hero-unit
      %h1 Hello
      %p This is a demo
  .span4
    %h2 Testimonal
    %blockquote
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis.
      %small Someone famous
.row
  .span4
    %h2 Heading
    %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
  .span4
    %h2 Heading
    %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
  .span4
    %h2 Heading
    %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
.row
  .span12
    %h1#gallery Gallery
    %hr
.row
  %ul.thumbnails
    %li.span3
      = link_to image_tag("http://placehold.it/260x180"), "#", :class => "thumbnail"
    %li.span3
      = link_to image_tag("http://placehold.it/260x180"), "#", :class => "thumbnail"
    %li.span3
      = link_to image_tag("http://placehold.it/260x180"), "#", :class => "thumbnail"
    %li.span3
      = link_to image_tag("http://placehold.it/260x180"), "#", :class => "thumbnail"
.row
  %ul.thumbnails
    %li.span3
      = link_to image_tag("http://placehold.it/260x180"), "#", :class => "thumbnail"
    %li.span3
      = link_to image_tag("http://placehold.it/260x180"), "#", :class => "thumbnail"
    %li.span3
      = link_to image_tag("http://placehold.it/260x180"), "#", :class => "thumbnail"
    %li.span3
      = link_to image_tag("http://placehold.it/260x180"), "#", :class => "thumbnail"      
